{
  extends: "eslint:recommended",
  env: {
    es6: true,
  },

  globals: {
    "console": true,
    "module": true,
    "exports": true,
    "require": true,
  },

  rules: {
    "comma-dangle": [0, "always-multiline"],
    "no-console": 0,
  }
}